* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 16px;
}

header li a {
    color: #00060e;
    text-decoration: none;
}

body > header {
    background-color: #044094;
    padding: 16px 0;
    color: rgb(1, 13, 14);
}

p {
    text-align: justify;
    padding-top: 10px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
    border-radius: 20px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-top: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.3);
}

#sports .articles article a {
    background-color: rgba(0, 20, 0, 0.8);
}

#economy {
    background-color: rgba(2, 95, 2, 0.445);
}

#economy .articles article a {
    background-color: rgb(0, 2, 1);
}

#esports {
    background-color:  rgba(87, 1, 65, 0.267);
}

#filme {
    background-color:  rgba(119, 2, 12, 0.856);
}